@font-face {
  font-family: 'DTL';
  src: url('/public/assets/fonts/DTLProkyonTCapsLight.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Noto-Thin';
  src: url('/public/assets/fonts/NotoSansKR-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Noto';
  src: url('/public/assets/fonts/NotoSansKR-Regular.otf') format('opentype');
  font-weight: 500;
}
